/********** Template CSS **********/
:root {
    --primary: #dc3545;
    --secondary: #f35525;
    --light: #fdefef;
    --dark: #0E2E50;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.nav-link.dropdown-toggle img {
    width: 20px;
    height: 20px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-add-property {
    background-color: #f4511e; /* Softer, more subtle red-orange */
    color: #fff;
    padding: 6px 12px; /* Smaller padding for a more compact look */
    font-size: 14px; /* Slightly smaller font size */
    border-radius: 3px; /* Softer rounding for a compact appearance */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.btn-add-property:hover {
    background-color: #f4511e; /* Slightly darker shade on hover */
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed #f35525;
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed #f35525 !important;
}

.property-item .border-end {
    border-right: 1px dashed #f35525 !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}

.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}

.pagination a:hover:not(.active) {background-color: var(--bs-primary)}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed #ee626b !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.single-property .main-image img {
    float: none;
  }

  .single-property .main-content h4 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
  }

  .single-property .main-content span.category {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 40px;
  }

  .single-property .accordion {
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    --bs-accordion-border-radius: 10px;
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-bg: #fafafa;
    --bs-accordion-border-color: none;
    border: none !important;
  }

  .single-property .accordion-header {
    border-bottom: 1px solid #eaeaea;
  }

  .single-property .accordion-button {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
  }

  .single-property .accordion-button:not(.collapsed) {
    color: #f35525;
    background-color: #fafafa;
    outline: none;
  }

  .single-property .accordion-button::after {
    display: none;
  }

  .single-property #headingThree {
    border-bottom: none;
  }

  .single-property .accordion-item:last-of-type .accordion-collapse {
    border-top: 1px solid #eaeaea;
  }

  .single-property .info-table {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    margin-left: 60px;
  }

  .single-property .info-table ul li {
    display: block;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;
  }

  .single-property .info-table ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .single-property .info-table ul li img {
    float: left;
    margin-right: 25px;
  }

  .single-property .info-table ul li h4 {
    font-size: 22px;
    font-weight: 600;
  }

  .single-property .info-table ul li h4 span {
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
  }

  .featured .info-table {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
  }

  .featured .info-table ul li {
    display: block;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;
  }

  .featured .info-table ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .featured .info-table ul li img {
    float: left;
    margin-right: 25px;
  }

  .featured .info-table ul li h4 {
    font-size: 22px;
    font-weight: 600;
  }

  .featured .info-table ul li h4 span {
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
  }
  .featured .info-table {
    margin-top: 45px;
  }
  .best-deal .info-table ul li span {
    float: right !important;
    width: auto !important;
  }
  @media (max-width: 1200px) {
    .best-deal .info-table ul li span {
      float: none;
      width: 100%;
    }
}

/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .carousel .carousel-caption p {
        font-size: 20px;
    }

    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel .carousel-caption p {
        font-size: 16px;
    }

    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #dc3545;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color: var(--dark);
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.service .service-img {
    position: relative;
    overflow: hidden;
}

.service .service-img img {
    width: 100%;
}

.service .service-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f35525;
    transition: .5s;
    opacity: 0;
}

.service .service-item:hover .service-overlay {
    opacity: 1;
}

.service .service-overlay p {
    margin: 0;
    color: #ffffff;
}

.service .service-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #fdefef;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service .service-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #0E2E50;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service .service-item a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #030f27;
    background: #fdefef;
    border-radius: 0;
    transition: .3s;
}

.service .service-item:hover a.btn {
    color: #ffffff;
}

.pricing .pricing-item {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .pricing .pricing-item h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    background: color-mix(in srgb, var(--default-color), transparent 95%);
  }

  .pricing .pricing-item h4 {
    font-size: 36px;
    font-weight: 600;
    font-family: var(--heading-font);
  }

  .pricing .pricing-item h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  .pricing .pricing-item h4 span {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-size: 16px;
    font-weight: 300;
  }

  .pricing .pricing-item ul {
    padding: 15px 0;
    list-style: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  .pricing .pricing-item ul li {
    padding-bottom: 16px;
  }

  .pricing .pricing-item ul i {
    color: var(--accent-color);
    font-size: 18px;
    padding-right: 4px;
  }

  .pricing .pricing-item ul .na {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    text-decoration: line-through;
  }

  .pricing .btn-wrap {
    background: color-mix(in srgb, var(--default-color), transparent 95%);
    margin: 0 -20px -20px -20px;
    padding: 20px 15px;
    text-align: center;
  }

  .pricing .btn-buy {
    background: var(--accent-color);
    color: var(--contrast-color);
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 4px;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--heading-font);
    font-weight: 600;
    transition: 0.3s;
  }

  .pricing .btn-buy:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }

  .pricing .featured h3 {
    background: var(--accent-color);
    color: var(--contrast-color);
  }

  .pricing .advanced {
    background: var(--accent-color);
    color: var(--contrast-color);
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
  }

  /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
    overflow: hidden;
  }

  .features .nav-tabs {
    border: 0;
  }

  .features .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: var(--default-color);
    border-radius: 0;
    border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    font-weight: 600;
    font-size: 15px;
  }

  .features .nav-link:hover {
    color: var(--accent-color);
  }

  .features .nav-link.active {
    color: var(--accent-color);
    border-color: var(--accent-color);
    background-color: var(--background-color);
  }

  .features .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }

  .features .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .features .details p {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }

  .features .details p:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 992px) {
    .features .nav-link {
      border: 0;
      padding: 15px;
    }

    .features .nav-link.active {
      color: var(--accent-color);
      background: var(--accent-color);
    }
  }

.carousel-item {
    background-color: transparent !important;
}

.carousel-item img {
    filter: none !important;
    opacity: 1 !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: none !important;
}
